<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    </head>
<body>

<div class="container" id="container">
    <div class="form-container sign-up-container" style="height: 1000px">
        <form id="form1" name="form1" method="post" action="/MyApp/p_signup_post/">
            {% csrf_token %}
            <h1>Create Account</h1>
            <br>
            <input type="text" placeholder="Name" name="textfield" />
            <input type="date" placeholder="Dob" name="textfield2" />
            <div style="margin: 10px 0;">
                <select id="gender" name="gender" style="width: 100%; padding: 10px 61px; background-color: #eee; border: none; border-radius: 4px; font-size: 12px;">
                    <option value="" disabled selected>Select Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <input type="text" placeholder="Place" name="textfield3" />
            <input type="text" placeholder="Post" name="textfield4" />
            <input type="text" placeholder="Pin" name="textfield5" />
            <input type="text" placeholder="District" name="textfield6" />
            <input type="text" placeholder="Email" name="Email" />
            <input type="text" placeholder="Phone Number" name="phone_no" />
            <input type="text" placeholder="Password" name="textfield7" />
            <input type="text" placeholder="Confirm Password" name="textfield8" />
            <br>
            <button>Sign Up</button>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form id="form1" name="form1" method="post" action="/MyApp/login_post/">
            {% csrf_token %}
            <h1>Login Your Account.</h1>
            <br>
            <input type="email" placeholder="Email" name="textfield" />
            <input type="password" placeholder="Password" name="textfield2"/>
            <br>
            <button>Login</button>
        </form>
    </div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!<br>
                Don't Have An Account</h1>
				<p>Enter your  details and create your account.</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>


</body>
<script>
    const signUpButton = document.getElementById('signUp');
const signInButton = document.getElementById('signIn');
const container = document.getElementById('container');

signUpButton.addEventListener('click', () => {
	container.classList.add("right-panel-active");
});

signInButton.addEventListener('click', () => {
	container.classList.remove("right-panel-active");
});
</script>
</html>
